.idea
!/sim_tests/new_test.zip
output.csv
*.txt
*.gnuplot
results/UDP-120-UE/Saida do terminal
results/UDP-30-UE/Saida do terminal
results/UDP-60-UE/sAIDA DO TERMINAL
results/UDP-90-UE/saida do terminal
*.zip
